:root {
  --line-border-fill: orange;
  --line-border-empty: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Rubik';
}

ul {
  list-style-type: none;
}

li,
a,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-color: #020714;
  /* background-image:linear-gradient(
                to right,orange, rgb(255, 255, 255), orange); */
  /* box-shadow: 0 0 10px 0 grey; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* border-radius:  0 0 50px 50px; */
}

header div {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.logo::after {
  display: block;
  color: #000000;
  font-weight: lighter;
  font-size: 1vw;
}




.nav__links {
  list-style: none;
}

.nav__links li {

  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: orange;

}

.nav__links li a:hover {
  color: rgb(255, 255, 255);
}

button {
  color: #fff;
  padding: 9px 25px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: all 1s; */
}

button:hover {
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
}







.active {
  /* background-color: gray; */
  /* color: rgb(0, 0, 0); */
  font-size: 16px;
  text-decoration: none;

}




/************************************* Rotating plate************************************/


.container1 {

  /* width: 100%; */
  /* margin-left: 100px; */
  /* height: 300px; */
  column-gap: 100px;
  display: flex;
  /* flex-direction: column; */
  /* text-align: center;
  align-items: center; */
}




.container1 h1 {
  color: #ffffff;
  font-size: 5vw;

  align-items: center;

  /* margin-left: 200px; */
}

.container1 h1::after {
  display: block;
  content: 'Don\'t worry just Join Us and Skip the Waiting Line.';
  color: rgb(213, 213, 213);
  font-size: 1vw;
}

.container1 h1 span {
  color: orange;
}

.plate {
  animation: rotate 250s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  /* min-height: 100vh; */
  /* padding-left: 5%; */
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  /* width: 100%; */
  display: flex;
  /* margin-top: 40px; */
  padding-bottom: 50px;
  margin: auto;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.036),
  rgba(0, 0, 0, 0.036),
  rgba(0, 0, 0, 0.036)),
url("./images/background.jpg");
background-size: cover;
background-repeat: no-repeat;
  /* background-color: #0f172b; */
  /* justify-content: center; */
  /* align-items: center; */
}

.search_box {
  background: transparent;
  /* position: relative; */
  /* padding: 15px; */
  border-radius: 50px;
  display: flex;
  /* align-items: center; */
  /* padding: 1%; */
}

.search_box .search_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1%;
  /* margin: 1%; */
  margin-top: 12px;
  margin-left: 2px;
  /* margin-right: 15px; */
  cursor: pointer;
  /* box-shadow: 0 0 10px 0px rgb(0, 0, 0); */

}

.search_box .input_search {
  outline: none;
  margin-left: 7px;
  border: 0;
  background: #ffffff;
  border-radius: 50px;
  padding: 15px 15px;
  width: 600px;
  height: 20px;
  color: #000000;
  /* border: 1px solid rgb(114, 114, 114); */
  /* box-shadow: 0 0 10px 0px rgb(0, 0, 0); */
}

input::placeholder {
  color: #7f7f7f;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}


/************************************* Qualities ************************************/

.grid1 {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  row-gap: 70px;
  justify-content: center;
  margin-top: 150px;
  flex-wrap: wrap;
}

.griditems {
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
  height: 150px;
  width: 250px
}


/************************************* Top Restaurants ************************************/

.top {
  margin-top: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.top>h1 {
  font-size: 4vw;
  color: #1c2c52;
  /* margin-left: 100px; */

}

/* .top>h1::after {
  display: block;
  font-weight: lighter;
  font-size: 1vw;
  content: '        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, corrupti!      ';
} */

.top h1 span {
  color: orange;
}

.boxes {
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  display: flex;
  text-align: center;
  /* flex-wrap: wrap; */
  /* margin-inline: 20px; */
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  /* height: 400px; */
  width: 350px;
  /* padding: 10px; */
  /* border-radius: 20px; */
  background-color: #f3f3f3;
  /* box-shadow: 0 0 30px 0 #dfdfdff8; */
}



.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.row {
  display: flex;
}

.box img:hover {
  filter: brightness(50%);
}










/* CSS */
.button-28 {

  /* margin-top: 150px; */
  /* appearance: none; */
  background-color: transparent;
  border: 1px solid rgb(139, 139, 139);
  /* border-radius: 15px; */
  /* box-sizing: border-box; */
  color: #3B3B3B;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 16px;
  /* line-height: normal; */
  /* margin-left: 100px; */
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #000000;
  border-color: transparent;
  background-color: #1c2c5217;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


/************************************* How to start ************************************/


.food {
  padding: 100px;
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: #1c2c5210;
}

.food>h1 {
  font-size: 4vw;
  color: #1c2c52;
  margin-left: 100px;

}

/* .food>h1::after {
  display: block;
  font-weight: lighter;
  font-size: 1vw;
  content: '        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, corrupti!      ';
} */

.food h1 span {
  color: orange;
}

.box1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* background-color: rgba(121, 121, 121, 0.071); */
  /* height: 400px; */
  width: 350px;
  /* border: 1px solid black; */
  border-radius: 20px;
  /* background-color: #000000; */
  /* box-shadow: 0 0 30px 0 #dfdfdff8; */
}

.box1>h1 {
  font-size: 4vw;
  color: rgba(255, 166, 0, 0.536);
}



/************************************* What You Want ************************************/


.what {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  text-align: center;
}

.what>h1 {
  font-size: 4vw;
  color: #1c2c52;
  margin-left: 100px;

}



/* .what>h1::after {
  display: block;
  font-weight: lighter;
  font-size: 1vw;
  content: '        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, corrupti!      ';
} */

.what h1 span {
  color: orange;
}

#foodname {
  width: 200px;
  /* border-radius: 50%; */
  /* box-shadow: 0 0 10px 0 grey; */
}


.grid {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  row-gap: 70px;
  justify-content: center;
  margin-top: 150px;
  flex-wrap: wrap;
}

